html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(196, 196, 196);
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 7rem 5rem;
  height: 100vh;
  width: 100vw;
}
.container-left {
  background: rgb(65, 6, 124);
  background: linear-gradient(
    135deg,
    rgba(65, 6, 124, 1) 0%,
    rgba(71, 19, 215, 1) 48%,
    rgba(65, 6, 124, 1) 100%
  );
  min-height: 30%;
  max-height: 100%;
  flex-grow: 9;
  flex-basis: 20rem;
  position: relative;
}
.container-left img {
  width: 26rem;
  position: absolute;
}
.container-left .image-card-front img {
  left: 7vw;
  bottom: 30rem;
}
.container-left .circle_one {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 4rem;
  background-color: white;
  position: absolute;
  left: 9vw;
  top: 10rem;
  z-index: 1;
}
.container-left .circle_two {
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
  border: 0.15rem white solid;
  background-color: transparent;
  position: absolute;
  left: 14vw;
  top: 11rem;
  z-index: 1;
}
.container-left p {
  color: white;
  z-index: 1;
  position: absolute;
  width: 25rem;
}
.container-left .number {
  font-size: 2rem;
  left: 9vw;
  top: 15rem;
  letter-spacing: 0.1rem;
}
.container-left .name {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  left: 9vw;
  top: 19rem;
}
.container-left .date {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  left: 23vw;
  top: 19rem;
}

.container-left .image-card-back img {
  left: 9.5vw;
  bottom: 12rem;
}
.container-left .number-back {
  color: white;
  font-size: 1.4rem;
  position: absolute;
  left: 25vw;
  bottom: 18rem;
  z-index: 1;
}

.container-right {
  background-color: white;
  color: black;
  min-width: 75%;
  min-height: 60%;
  max-height: 100%;
  max-width: 100%;
  flex-grow: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-right .success {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 2 0 0 13rem;
  display: none;
}
.container-right .success .circle {
  width: 7rem;
  height: 7rem;
  border-radius: 10rem;
  margin: 0 auto;
  background: rgb(71, 19, 215);
  background: linear-gradient(
    180deg,
    rgba(71, 19, 215, 1) 0%,
    rgba(127, 2, 176, 1) 100%
  );
  align-content: center;
}
.container-right .success i {
  color: white;
  font-size: 3rem;
  justify-content: center;
  padding-top: 2rem;
}
.container-right .success h1 {
  font-size: 4rem;
  margin: 0.5rem;
}
.container-right .success p {
  font-size: 1.8rem;
  color: rgb(90, 90, 90);
}
.container-right button {
  background-color: rgb(31, 18, 51);
  color: white;
  width: 32rem;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
}
.container-right .form{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  padding: 0 0 0 13rem;
}
.container-right .form p{
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  color: rgb(31, 18, 51);
}
.container-right .form label{
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.container-right .form input{
  line-height: 4rem;
  border-radius: 0.5rem;
  border: 0.1rem rgb(146, 146, 146) solid;
}
.container-right .form .number,.name{
  width: 32rem;
}
.container-right .form .date,.cvc{
  display: flex;
  flex-direction: column;
  width: 15rem;
}
.container-right .form .date-container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0 auto;
}

/*max widht 857*/
@media (max-width: 899px) {
  .container {
    position: relative;
    padding: 0;
  }
  .container .image-card-front img {
    left: 7vw;
    top: 10rem;
    z-index: 1;
  }
  .container .circle_one {
    top: 12rem;
    left: 9vw;
    z-index: 2;
  }
  .container .circle_two{
    top: 13rem;
    left: 15.5vw;
    z-index: 2;
  }
  .container .number{
    left: 9vw;
    top: 17rem;
    z-index: 2;
  }
  .container .name{
    left: 9vw;
    top: 21rem;
    z-index: 2;
  }
  .container .date{
    top: 21rem;
    left: 30vw;
    z-index: 2;
  }
  .container .image-card-back img{
    top: 2rem;
    left: 33vw;
  }
  .container .number-back{
    top: 8.5rem;
    left: 55vw;
  }
  .container .container-right .success{
    margin-top: 10rem;
    padding: 0;
  }
  .container .container-right .form{
    padding: 0;
  }
}
